*{
    margin:0;
    padding:0;
}
main{
    background-image:url(/images/cerBack.jpg);
    height:100vh;
}
.certImg{
    height:15vh;
    position:absolute;
    left:18vw;
}
.hrBorder{
    position:absolute;
    top:16vh;
    width:100%;
    background-color: #922b3e;
}
.certificateBox{
    position:absolute;
    top:20%;
    left:23%;
    height:60vh;
    width:50vw;
    border-top:7px solid red;
    border-bottom:7px solid violet;
    border-left:7px solid red;
    border-right:7px solid violet;
    background-color: white;
}
.certificate{
    text-align:center;
    padding:2vh 0px;
}
.userNameOnCert{
    font-size:2em;
    font-weight:bold;
}
.toptext{
    padding-top:20vh;
}
.umd{
    font-weight:bold;
}