@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:black;
    color:white;
    height:12vh;
    width:100%;
    font-family: 'Rowdies', cursive;
    position:sticky;
    top:0;
    z-index: 1;
}
.img{
    position:absolute;
    top:1vh;
    left:1vw;
    height:10vh;
    border:1px solid black;
    border-radius:1vw;
}
.navHeadings{
    display:flex;
    justify-content: center;
    align-items: center;
}
.navHeadings li{
    list-style: none;
    margin: 4vh 4vw;
}
a{
    text-decoration:none !important;
    color:white;
}
.loginbtn{
    position:absolute;
    left:88vw;
    top:3vh;
    background-color: rgb(26, 202, 26);
    height:6vh;
    width:15vh;
    border:2px solid black;
    border-radius:2vw;
    cursor: pointer;
    font-family: 'Rowdies', cursive;
}
.loginbtn:hover{
    position:absolute;
    left:88vw;
    top:3vh;
    background-color: rgb(13, 105, 13);
    height:7vh;
    width:16vh;
    border:2px solid black;
    cursor: pointer;
    font-family: 'Rowdies', cursive;
}
.questiontext{
    text-align: center;
    margin-top:2vw;
}
.contImg{
    height:35vh;
    position:absolute;
    top:35vh;
    left:10vw;
}
.contactFields{
    float:right;
    display:flex;
    flex-direction: column;
    margin-top:12vh;
    margin-right:8vw;
}
.sendMsg{
    height:5vh;
    background-color: aqua;
    border-radius:1vw;
    border:3px solid black;
}
.loginRegisterContainer{
    height:100vh;
    width:100%;
    background-repeat:no-repeat;
    background-size: cover;
}
.loginBox{
    position:relative;
    top:17vh;
    left:34vw;
    background-color:white;
    height:60vh;
    width:30vw;
    border: 2px solid black;
    border-radius: 2px;
}
.registerBox{
    position:relative;
    top:11vh;
    left:30vw;
    background-color:white;
    height:85vh;
    width:40vw;
    border: 2px solid black;
    border-radius: 2px;
}
.loginLogo{
    height:9vh;
    margin-left:6vw;
    margin-top: 3vh;
}
.registerLogo{
    height:14vh;
    margin-left:14vw;
}
.loginForm{
    margin-top: 7vh;
}
.inputFields{
    width:26vw;
    height:5vh;
    margin:0vw 2vw;
}
.reqFields{
    width:35vw;
    height:5vh;
    margin:1vw 2vw;
}
.medQoute{
    background-color:rgb(5, 147, 255);
    position:absolute;
    top:90vh;
    left:33vw;
    color:white;
    height:5vh;
    width:35vw;
    text-align: center;
}
.formbtn{
    margin:2vw 2vw;
    background-color:rgb(20, 187, 238);
    color:white;
    width:10vw;
    height:4vh;
    border-radius:2vw;
}
.LoginRegisterNow{
    color:blue;
}
.bottomLR{
    text-align: center;
}
.donateMed{
    margin:5vh 0vw;
    height:40vh;
}
.requestMed{
    margin:2vh 0vw;
    height:40vh;
}
.dMed{
    margin:3vh 0vw 0vh 2vw;
}
.donateTxt{
    position:absolute;
    bottom:7vh;
    right:1vw;
}
.requestTxt{
    position:absolute;
    left:5vw;
    top:125vh;
}
.rMed{
    margin:6vh 2vw 0vh 0vw;
    float:right;
}
.UIcon{
    height:15vh;
    margin:6vh 0vw 2vh 4vw;
}
.hello{
    float:right;
    margin:10vh 60vw 0vh 0vw;
    font-size:2em;
}
.todayText{
    text-align: center;
    margin-top:3vh;
}
.wltdt{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:5vh;
}
.Dbox{
    background-color:rgb(255, 204, 0);
    height:45vh;
    width:30vw;
    font-size:2em;
    padding:5vh 0vw 0vw 3vw;
}
.Dbox:hover{
    background-color:rgb(151, 125, 17);
    height:45vh;
    width:30vw;
    font-size:3em;
    padding:5vh 0vw 0vw 3vw;
}
.betIcon{
    height:12vh;
}
.Rbox{
    background-color:rgb(255, 204, 0);
    height:45vh;
    width:30vw;
    font-size:2em;
    padding:5vh 0vw 0vh 2vw;
}
.Rbox:hover{
    background-color:rgb(151, 125, 17);
    height:45vh;
    width:30vw;
    font-size:3em;
    padding:5vh 0vw 0vh 2vw;
}
.container{
    height:90vh;
    width:100%;
}
.abtImg{
    position: absolute;
    left:45vw;
    height:20vh;
    margin-top:5vh;
}
.slider{
    display:inline-block;
    height:50vh;
    width:95vw;
    margin:1vh 2vw;
}
.desertImg{
    position:absolute;
    display:inline-block;
    height:50vh;
    width:95vw;
    left:-99vw;
    animation-name:ghi;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.lightImg{
    position:absolute;
    display:inline-block;
    height:50vh;
    width:95vw;
    left:2vw;
    animation-name:abc;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes abc{
    0%{
        left:2vw;
    }
    100%{
        left:99vw;
    }
}
@keyframes ghi{
    0%{
        left:-99vw;
    }
    100%{
        left:2vw;
    }
}
footer{
    background-color:black;
    color:white;
    height:15vh;
    width:100%;
    text-align:center;
    font-family: 'Rowdies', cursive;
}
.footerSection{
    padding-top:10px;
}
